body{
    font-size: 14px;
    background-color: #f2f2f2;
}
h1{
    border: 1px solid gray;
}

h2{
    color:red;
}
h2.active{
    border: 1px solid green;
}
p#paragraf{
    font-weight: bold;
}
div h3{
    background-color: gold;
}
h1~p{
    background-color: red;
}
div>p{
    background-color: green;
}
ul li{
    border: 1px solid gray;
    margin-top: 2px;
}
ul li.active{
    background-color: gold;
}
ul li:first-child{
    word-spacing: 30px;
}
ul li:last-child{
    letter-spacing: 20px;
}
ul li:nth-of-type(odd){
    color: green;
}
ul li:nth-of-type(even){
    color:orange;
}
input[type="text"],input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    box-sizing: border-box;
}
input[type="submit"]{
    width:100%;
    background-color: green;
    color: white;
    padding: 12px 18px;
    margin: 7px 0;
    border:none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #45a049;
}
input[type="text"]:focus, input[type="password"]:focus{
    background-color: lightgoldenrodyellow;
}




